@media (min-width: 768px) {
  .VPSidebar {
    overflow: hidden !important;
  }

  body {
      overflow: hidden !important;
  }
  .has-sidebar-trigger {
    position: relative !important;
    height: calc(100vh - 60px) !important;
  }
}

.VPNavBar{
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
}

.ps__rail-y, .ps__rail-x {
    z-index: 100;
}

.ps__thumb-y, .ps__thumb-x {
    background-color: var(--vp-c-brand-3) !important;
}
