.VPDoc-prevnext {
    padding: 0px 24px 96px;
    width: 100%
}

@media (min-width: 768px) {
    .VPDoc-prevnext {
        padding:0px 32px 128px
    }
}

@media (min-width: 960px) {
    .VPDoc-prevnext {
        padding:0px 32px 0
    }

    .VPDoc-prevnext:not(.has-sidebar) .container {
        display: flex;
        justify-content: center;
        max-width: 992px
    }

    .VPDoc-prevnext:not(.has-sidebar) .content {
        max-width: 752px
    }
}

.VPContent, .vp-doc, .vp-doc p, .vp-doc li, .vp-doc span, .vp-doc a, .vp-doc dd, .vp-doc dt, .vp-doc th, .vp-doc td {
    font-size: var(--vp-custom-font-size);
    font-family: var(--vp-custom-font-family);
    transition: all .1s ease;
}

.VPDocFooter {
    margin-top: 64px;
}

@media (min-width: 640px) {
  .prev-next
  {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
  }
}

.prev-next {
    border-top: 1px solid var(--vp-c-divider);
    padding-top: 24px;
    display: grid;
    grid-row-gap: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
}

.pager-link.prev {
    margin-right: auto;
    text-align: left;
}

.pager-link.next {
    margin-left: auto;
    text-align: right;
}

.pager-link {
    display: block;
    border: 1px solid var(--vp-c-divider);
    border-radius: 8px;
    padding: 11px 16px 13px;
    width: 100%;
    height: 100%;
    transition: border-color .25s;
}

.pager-link:hover {
    border-color: var(--vp-c-brand-1);
}

.desc {
    display: block;
    line-height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: var(--vp-c-text-2);
}

.title {
    display: block;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--vp-c-brand-1);
    transition: color .25s;
}


/* carousel外层包裹样式 */
.VPDoc-carousel {
    padding: 32px 24px 0px;
    width: 100%
}

@media (min-width: 768px) {
    .VPDoc-carousel {
        padding:48px 32px 0px
    }
}

@media (min-width: 960px) {
    .VPDoc-carousel {
        padding:48px 32px 0
    }

    .VPDoc-carousel:not(.has-sidebar) .container {
        display: flex;
        justify-content: center;
        max-width: 992px
    }

    .VPDoc-carousel:not(.has-sidebar) .content {
        max-width: 752px
    }
}