:root {
  --sdetails-background-color: #eef9fd;
  --sdetails-shadow-lw: 0 1px 2px 0 #0000001a;
  --sdetails-transition-timing: cubic-bezier(.08, .52, .52, 1);
}
.dark {
  --sdetails-background-color: #193c47;
}

.smooth-details {
  margin: 0 0 1rem;
  border: 1px solid #4cb3d4;
  border-radius: .4rem;
  box-shadow: var(--sdetails-shadow-lw);
  background-color: var(--sdetails-background-color);
  overflow: hidden;
  padding: 1rem 1rem 0;
}

.smooth-details-summary {
  cursor: pointer;
  padding-left: 1rem;
  list-style: none;
  position: relative;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font: inherit;
  color: inherit;
}

.smooth-details-summary::before {
  content: "";
  border-width: 0.38rem;
  border-style: solid;
  border-color: transparent transparent transparent #4cb3d4;
  transition: transform 0.2s ease;
  transform-origin: calc(0.38rem / 2) 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(0deg);
}

.smooth-details-summary.expanded::before {
  transform: translateY(-50%) rotate(90deg);
}

/* 占位元素样式，保持收起状态时的间距 */
.smooth-details-placeholder {
  margin-top: 1rem;
}

.smooth-details-content {
  border-top: 1px solid #4cb3d4;
  margin-top: 1rem;
}
/* 链接样式 */
.smooth-details-content a {
  color: var(--vp-c-text-1);
  transition: color .2s var(--sdetails-transition-timing);
  -webkit-text-decoration-color: #4cb3d4;
  text-decoration-color: #4cb3d4;
}
.smooth-details-content a:hover {
  color: var(--vp-c-text-1);
  text-decoration-thickness: 2px;
}

/* 过渡动画 */
.smooth-details-enter-active,
.smooth-details-leave-active {
  transition: max-height 0.314s ease-in-out, opacity 0.314s ease-in-out;
  max-height: 3000px; /* 为过渡动画留出足够空间 */
  overflow: hidden;
}

.smooth-details-enter-from,
.smooth-details-leave-to {
  max-height: 0;
  opacity: 0;
}

.smooth-details-enter-from {
  opacity: 0;
}

.smooth-details-leave-to {
  opacity: 0;
}
