/* .vitepress/theme/style/sdetails.css */
:root {
  --sdetails-background-color: #eef9fd;
  --sdetails-border-color: #4cb3d4;
  --sdetails-shadow-lw: 0 1px 2px 0 #0000001a;
  
  --sdetails-transition-timing: cubic-bezier(.08, .52, .52, 1);
  
  --sdetails-spacing: 1rem;
  --sdetails-border-radius: .4rem;
}

.dark {
  --sdetails-background-color: #193c47;
}

.smooth-details {
  margin: 0 0 var(--sdetails-spacing);
  border: 1px solid var(--sdetails-border-color);
  border-radius: var(--sdetails-border-radius);
  box-shadow: var(--sdetails-shadow-lw);
  background-color: var(--sdetails-background-color);
  overflow: hidden;
  padding: 0 1rem 0;
}

.smooth-details-summary {
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font: inherit;
  color: inherit;
  padding: var(--sdetails-spacing) 0 var(--sdetails-spacing) var(--sdetails-spacing);
}

.smooth-details-summary::before {
  content: "";
  border-width: 0.38rem;
  border-style: solid;
  border-color: transparent transparent transparent var(--sdetails-border-color);
  transition: transform var(--sdetails-transition-duration) ease-in-out;
  transform-origin: calc(0.38rem / 2) 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(0deg);
}

.smooth-details-summary.expanded::before {
  transform: translateY(-50%) rotate(90deg);
}

.smooth-details-content {
  overflow: hidden;
  max-height: 0;
  margin-top: 0;
  border-top: 1px solid var(--sdetails-border-color);
}

.smooth-details-content a {
  color: var(--vp-c-text-1);
  transition: color .2s var(--sdetails-transition-timing);
  -webkit-text-decoration-color: var(--sdetails-border-color);
  text-decoration-color: var(--sdetails-border-color);
}

.smooth-details-content a:hover {
  color: var(--vp-c-text-1);
  text-decoration-thickness: 2px;
}
